[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=dynapix
X-Python-2-Compatible=false
Name=DynaPix
Comment=Image pixelator and normap generator
