[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=my_extension
X-Python-2-Compatible=false
Name=My Own Extension
Comment=Our very own extension.
